
.panelAdminPortal {
	background-color:#F8F8FF;
    overflow:auto;
    margin-left: auto;
	margin-right: auto;
	width: 1024;
}

.menuButton{
	background-color:#F8F8FF;
	width: 200px;
	height: 100px;
}

.stackMenu{
	
	width: 200px;
	height: 600px;
}

.stackMenuLabel{
	
	width: 200px;
	height: 100px;
}